body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0; /* Set background color */
  background-image: url('https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg?cs=srgb&dl=pexels-pixabay-531880.jpg&fm=jpg');
  background-size: cover;
  background-position: center;
  color:white;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  padding-top: 20px;
}

.game-title {
  font-size: 2em;
  margin-bottom: 20px;
  text-align: center;
  color: #ffffff; /* Text color for better visibility on the background */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Text shadow for better readability */
}
.board {
  display: grid;
  grid-template-columns: repeat(5, 50px);
  grid-template-rows: repeat(5, 50px);
  gap: 15px;
}

.square {
  width: 50px;
  height: 50px;
  background-color: #cadfde;
  border: 1px solid black;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.square.is-off {
  background-color: #124951;
}

.square:hover {
  opacity: 0.7;
  transition: opacity 0.3s ease-in-out;
}

.buttons {
  margin-top: 20px;
  text-align: center;
}

p {
  font-size: 18px;
  margin: 8px 0;
}

#timer {
  font-weight: bold;
}

button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #124951;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

button:hover {
  background-color: #337ab7;
  transform: scale(1.05);
}footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px 0; /* Optional: Padding for the footer content */
  text-align: center;
}
a{
	color:white;
}

